/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""CSS RESET"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }
    body {
    	line-height: 1;
    }

    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""POLICE"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

#bloc_page {
  color: #140D04;
  font-family: Georgia, serif;
  font-size: 1em;
  background-color: white;
  background-repeat: repeat;
  /*margin-left: 200px;
  margin-right: 200px;*/
}

nav a, .text_footer a, h2, h1 {
  font-family: 'Lobster', cursive;
}

h2{
  font-size: 1.6em;
}

h3{
  font-family: 'Lobster Two', cursive;
  font-size: 1.2em;
}

#adahotel{
  font-family: 'Lobster', cursive;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""HEADER"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

nav{
  background-color:#739e82;
  height: 30px;
}

nav li{
  list-style: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding: 5px 0px;
    border-bottom: 4px #E29434 solid;
}

nav a{
  text-decoration: none;
  font-size: 1.1em;
  color: #140D04;
}

nav a:hover{
  color: white;
}


.cover{
  margin-top: 10px;
  background-image: url(../images/hotel/adahotel_1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 780px 400px;
  height: 400px;
  flex-direction: column;
}

.title{
  text-align: center;
  width: 50%;
  font-size: 3em;
  font-family: 'Lobster', cursive;
  padding-top: 110px;
  padding-bottom: 0px;
}
.title h1{
  text-shadow: 2px 0px 6px rgba(150, 150, 150, 1);
}
.title h2{
  font-family: 'Lobster Two', cursive;
  font-size: 0.6em;
  padding-top: 25px;
  padding-bottom: 20px;

}

#star img{
  width: 30px;
  height: 30px;
}

#star{
    display: flex;
    justify-content: center;
    width: 50%;
}

.button_book {
  background-color: #E29434;
  border: 2px;
  border-radius: 3px;
  color: #140D04;
  height: 45px;

}

.button_book h2{
  text-align: center;
  justify-content: middle;
  padding: 8px;
  margin-top: 3px;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""AGENDA HOME"""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/


.agenda{
  background-color: rgba(115, 158, 130, 0.4);
  display: flex;
  justify-content: space-around;
  padding: auto;
  margin-bottom: 30px;
  margin-top: 5px;
  align-items: center;
  height: 50px;
}

#calendar{
  font-size: 1.8em;
  vertical-align: middle;
  margin: 8px;
}

input[type=date]{
  background-color: rgba(240,234, 216);
  text-align: right;
  font-family: 'Lobster Two', cursive;
  width: 200px;
  height: 25px;
  font-size: 1.1em;
}

label{
  font-family: 'Lobster Two', cursive;
  font-size: 1.2em;
}

.agenda p{
  font-style: italic;
  font-size: 0.9em;
}

.agenda_title{
  line-height: 25px;
  display: flex;
}

input[type=submit]{
  background-color: #140D04;
  text-align: center;
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 1.1em;
  width: 120px;
  height: 35px;

}


/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""SLIDER PHOTO"""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/



.slider_photos img{
  width: 300px;
}

.slider_photos{
  text-align: center;
  border: 2px #140D04 dotted;
  border-radius: 3px;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""DESCRIPTION & SERVICES"""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

#presentation{
  display: flex;
  margin-bottom: 0px;
}

.description{
  width: 100%;
  height: 100%;
  padding : 4px;
  margin: 30px;
  border: 3px #99621e solid;
  border-radius: 3px;
}

.description h2{
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  margin-top: 30px;
}

.speech{
  text-align: left;
  padding : 10px 50px 0px 50px;
  line-height: 20px;
  font-size: 0.8em;
  margin-bottom: 64px;

}

.services{
  background-color: rgba(211, 139, 93, 0.4);
  width: 40%;
  height: 100%;
  padding: 4px;
  margin: 30px 0px 30px 30px;
  border-radius: 3px;
  text-align: left;
  padding: 17px;
}

.services p{
  margin: 17px 10px;
  font-size: 0.9em;
}

.services i{
  font-size: 0.9em;
  margin : 0px 6px;
}

#puce_reception{
  list-style-image: url(https://image.flaticon.com/icons/svg/690/690466.svg);
  font-size: 1em;
}

#puce_staff{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_nursery{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_food{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_bed{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_activities{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_wifi{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_breakfast{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_rooftop{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_air{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}

#puce_pets{
  list-style-image: url(https://image.flaticon.com/icons/svg/1023/1023656.svg);
  font-size: 1em;
}




/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""MAPS & CONTACT"""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
#find_us{
  display: flex;
  flex-direction: column;
  margin: 30px 30px 30px 0px;
  width: 30%;
  font-size: 0.9em;

}

#contact{
  background-color: rgba(226, 148, 52, 0.4);
  border-radius: 8px;
  margin: 35px 0px;
}

#hotel_infos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  line-height: 20px;
  margin-bottom: 10px;
}

#contact h3
{
  font-size: 1.3em;
  padding-top : 8px;
  padding-bottom: 5px;
  text-align: center;
}

#adahotel{
  font-size: 1.2em;
}

.gmap_canvas{
  border: 3px rgb(211, 139, 93) solid;
  border-radius: 5px;
  text-align: center;
}

.number_email{
  padding-top: 19px;
}

.number_email p{
  text-align: center;
  font-size: 0.9em;
  line-height: 13px;
}

.number_email a{
  text-decoration: none;
  color: #140D04;
}

.social img{
  width: 17px;
  height: 17px;
  padding: 3px 5px 0px 5px;
}

.social li{
  list-style: none;
}

.social {
  display: flex;
  align-content: center;
  padding: 0px;
  width: 10%;
  padding-left: 30px;
}

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""FOOTER"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

.text_footer{
  background-color:#739e82;
  height: 30px;
}

.text_footer li{
  list-style: none;
  padding: 5px;
}

.text_footer ul{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    border-top: 2px #140D04 solid;
}

.text_footer a{
  text-decoration: none;
  font-size: 1.1em;
  color: #140D04;
}

.text_footer a:hover{
  color: #f3ffb6;
}
